<!DOCTYPE html>
<html>

<head>
  <title>Oregon Trail</title>
  <link rel='stylesheet' type='text/css' href='../css/global.css'>
  <link rel='stylesheet' type='text/css' href='../css/index.css'>
  <audio style='display:none;'id="my_audio" controls preload="none">
    <source src="../music/music.mp3" type="audio/mpeg">
  </audio>
</head>


<body>
    <div class='bg-img-cover'>
      </div>
      <div class='background-img'>
        <img class='bg-img' src='../images/landscape.png'>
      </div>
  <section class='header'>
    <h1>The Oregon Trail</h1>
  </section>

  <section class='page-body'>

    <div class='msg-container' onclick="mainmenu()">
      <p class='msg' id='msg' >Press the Spacebar to Continue</p>
    </div>
  </section>
</body>

</html>
<script type = "text/javascript" src = "../js/global.js" ></script>
<script type = "text/javascript" src = "../js/index.js" ></script>
