<!DOCTYPE html>
<html>

<head>
  <title>Oregon Trail</title>
  <link rel='stylesheet' type='text/css' href='../css/global.css'>
  <link rel='stylesheet' type='text/css' href='../css/mainmenu.css'>
    <source id ="my_audio" src="../music/music.mp3" type="audio/mpeg">

</head>


<body>
    <div class='bg-img-cover'>
    </div>
    <div class='background-img'>
      <img class='bg-img' src='../images/landscape.png'>
    </div>
  <section class='header'>
    <h1>The Oregon Trail</h1>
  </section>
  

  <section class='page-body'>
    <div class='body-title'>
        <h3>Main Menu</h3>
    <div>

    <div class='options-container'>
      <div id='option-1' onclick="start()">
        <p>Travel The Trail</p>
      </div>
      <div id='option-2' onclick="learn()">
        <p>Learn About The Trail</p>
      </div>
    </div>

    <div class='options-container'>
      <div id='option-3' onclick="topTen()">
        <p>Top Ten</p>
      </div>

      <div id='option-4' onclick="soundOn(this)">
        <p>Toggle Sound</p>
      </div>
    </div>
    </section>


</body>

</html>
<script type = "text/javascript" src = "../js/mainmenu.js" ></script>
<script type = "text/javascript" src = "../js/global.js" ></script>
