<!DOCTYPE html>
<html>

<head>
  <title>Oregon Trail</title>
  <link rel='stylesheet' type='text/css' href='../css/global.css'>
  <link rel='stylesheet' type='text/css' href='../css/setup.css'>
</head>


<body>
    <div class='bg-img-cover'>
      </div>
      <div class='background-img'>
        <img class='bg-img' src='../images/landscape.png'>
      </div>
  <section class='header'>
    <h1>The Oregon Trail</h1>
  </section>

  <section class='page-body'>
    <div class='body-title'>
        
    </div>

      <div id='screen'>

      </div>
  </section>

</body>




</html>
<script type = "text/javascript" src = "../js/setup.js" ></script>
<script type = "text/javascript" src = "../js/global.js" ></script>
