<!DOCTYPE html>
<html>

<head>
  <title>Oregon Trail</title>
  <link rel='stylesheet' type='text/css' href='../css/global.css'>
  <link rel='stylesheet' type='text/css' href='../css/trail.css'>
</head>


<body>
    <div class='bg-img-cover'>
      </div>
      <div class='background-img'>
        <img class='bg-img' src='../images/landscape.png'>
      </div>
  <section class='header'>
    <h1>The Oregon Trail</h1>
  </section>

  <section class='page-body'>
    
    <div class='body-title'>
        <h3>Travel the Trail</h3>
    <div>

    <div class = "fixed"> <h4>Terrain and Wagon Progress</h4>
      <h4>Current Profession: <span id = "profession"></span></h4>
      <h4>Current Bank Account: <span id = "money"></span></h4>
      <h4>Days in the trail: <span id = "days"></span></h4>
      <h4>Miles Traveled: <span id = "miles"></span></h4>
      <h4>Current Weather: <span id = "weather"></span></h4>
      <h4>Current Health: <span id = "health"></span></h4>
      <h4>Current Pace: <span id = "pace"></span></h4>
      <h4>Current Terrain: <span id = "terrain"></span></h4>
      <h4>Party Members Status: <span id = "members"></span></h4>
    </div>

    <div class='msg-container' onclick="mainmenu()">
      <p class='msg' id='msg' >Press the Spacebar to Continue</p>
    </div>
  </section>






</html>
<script type = "text/javascript" src = "../js/trail.js" ></script>
<script type = "text/javascript" src = "../js/global.js" ></script>
